    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font: inherit;
        vertical-align: baseline
    }
   
    /* Nav Start */
    
    ol,
    ul {
        list-style: none
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none
    }
    
   
    
    body {
        font: 100% ;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    a {
        text-decoration: none;
    }
    
    .nav a,
    .nav label {
        display: block;
        padding: .65rem;
        color: rgb(179, 181, 182);
        background-color: #033c57;
        box-shadow: inset 0 -1px #bbbaba;
        -webkit-transition: all .25s ease-in;
        transition: all .25s ease-in;
    }
    
    .nav a:focus,
    .nav a:hover,
    .nav label:focus,
    .nav label:hover {
        
        background-color: rgba(255, 255, 255, 0.705);
        color: rgba(0, 0, 0, 0.822);
        font-weight: bold;
    }
    
    .nav label {
        cursor: pointer;
    }
    /*
* Styling first level lists items
*/
    
    .group-list a,
    .group-list label {
        padding-left: 2rem;
        background: #04577e;
        box-shadow: inset 0 -1px #373737;
    }
    
    .group-list a:focus,
    .group-list a:hover,
    .group-list label:focus,
    .group-list label:hover {
        background-color: rgba(255, 255, 255, 0.705);
        color: rgba(0, 0, 0, 0.822);
        font-weight: bold;
    }
    /**
* Styling second level list items
*/
    
    .sub-group-list a,
    .sub-group-list label {
        padding-left: 3rem;
        background: #0580b9;
        box-shadow: inset 0 -1px #474747;
    }
    
    .sub-group-list a:focus,
    .sub-group-list a:hover,
    .sub-group-list label:focus,
    .sub-group-list label:hover {
        background-color: rgba(255, 255, 255, 0.705);
        color: rgba(0, 0, 0, 0.822);
        font-weight: bold;
        
    }
    /**
* Styling third level list items
*/
    
    .sub-sub-group-list a,
    .sub-sub-group-list label {
        padding-left: 6rem;
        background: #079adf;
        box-shadow: inset 0 -1px #575757;
    }
    
    .sub-sub-group-list a:focus,
    .sub-sub-group-list a:hover,
    .sub-sub-group-list label:focus,
    .sub-sub-group-list label:hover {
        color: rgba(255, 0, 0);
    }
    /**
* Hide nested lists
*/
    
    .group-list,
    .sub-group-list,
    .sub-sub-group-list {       
        max-height:0;
        overflow: hidden;
        -webkit-transition: max-height .5s ease-in-out;
        transition: max-height .5s ease-in-out;
    }

   
    
    .nav__list input[type=checkbox]:checked+label+ul {
        /* reset the height when checkbox is checked */
           
        max-height: 1000px;
    }

    /**
* Rotating chevron icon
*/
    
    label>span {
        float: right;
        -webkit-transition: -webkit-transform .65s ease;
        transition: transform .65s ease;
    }
    
    .nav__list input[type=checkbox]:checked+label>span {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    /* End Nav */
    .nav {
        position: fixed; 
        width: 100%;      
        height: 100%;
        transition: .4s;
        z-index: 9998;
        background-color:  #033c57;
    }
   .nav__list .active
    {
        color: rgba(255, 255, 255, 0.87);
        font-weight: bolder;
       
    }

/* end nav menu */

    @media screen and (max-width: 719px) {
        .header {
            position: fixed;
            height: 50px;
            background-color: #033c57;
            width: 100%;
            z-index: 9999;
            box-shadow: 0 0px 6px 0 rgb(0, 0, 0);
        }
        #content {
           position: absolute;
            margin-top: 40px; 
            padding: 10px;                     
        }
        .headerLeft {
            padding: 4px 8px;
            float: left;
        }
        .headerlogo {
            padding: 8px 55px;
            text-align: center;
        }
        #Logo {
            height: 35px;           
        }
        #expend {
            color: rgb(255, 255, 255);
            font-size: 30;
            padding: 0px 6px;
            text-decoration: none;
        }
        .nav {
           padding: 4px;
            width: 0px;
           
        }
        #menu {
            overflow-y: auto;
            height: 100%;
            width: 100%;
          
        }
        .expendwith {
            position: fixed;
            margin-top: 50px;
            width: 250px;
            height: 100%;
            transition: .4s;
            z-index: 9998;
            padding-bottom: 50px;
        }
        li {
            list-style-type: none;
            overflow: hidden;
            top: 0;
        }
        li a {
            display: block;
            color: white;
            text-align: left;
            padding: 14px 14px;
            text-decoration: none;
        }
              
           .cont
           {
            padding-top: 30px;            
           }

           .Slides
           {
               display: none;
           }

           .flexcontent {
                      
            padding: 5px;
           
           
        }
        .flexcontent1 {                     
            padding: 5px;
            
           
        }
           
              
    }
    
    @media screen and (min-width: 720px) 
    {
        .header {
            height: 80px;
            width: 250px;           
        }
        #expend {
            display: none;
        }
        .headerLogo {
            padding-top: 15px;            
            text-align: center;
            float: left;
            position: fixed;
            height: 80px;
            width: 250px;
            background-color: #033c57;
            z-index: 2;
            
        }
        #Logo {
            height: 45px;
            width: 240px;
           
        }
        .menu {
            height: 100%;
            width: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            margin-bottom: 10px;
            padding-right: 4px;
            padding-left: 4px;
            padding-top: 2px;
        }
        .nav {           
            width: 250px;
            padding-bottom: 80px;                    
           
        }
        #content {  
            position: absolute;      
            margin-top: -80px;
            padding-left: 260px;
            padding-right: 10px;            
            width: 100%;
            height: 100% auto;               
        }

       
        
        .flexcontent {
            margin-top: 5px;            
            padding: 5px;
            display: flex;
        
        }
        .flexcontent1 {                       
            padding: 5px;
            display: flex;
           
        }


       
        .cont {
            padding: 10px;
            width: 33%;
        }
     

   
    }

    .Slides{
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        background-color:  #002547d7;
        height: 350px;
        padding: 2px;
        border-radius: 10px;
        box-shadow: 0 0px 4px 0 rgb(0, 0, 0);
    }

    
    .mySlides {    
        
    display:none;      
    height: 330px;
    width: 420px  ;
    text-align: center;
    margin: auto;
 
  border-radius: 10px;
        }
.mySlides h1
{
    font-size: 32px;
    text-align: center;
    color: rgba(209, 193, 160, 0.815);
}

    #content
    {  
              
        background-color: #a8effc;
        
    }
    
 .card .he {
       
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;       
        font-size: 13.5px;
        text-decoration: underline;
        color: rgb(253, 239, 212);
    }
    
    .card {        
        box-shadow: 0 4px 8px 0 rgba(65, 65, 65, 0.3);
        transition: 0.3s;
        width: 100%;       
        padding: 10px;
        border-radius: 10px;
        background-color:  #003057da;
        
    }

    .PageMasterImage{
        margin-top: 10px;       
        text-align: center;     
        box-shadow: 0 0px 6px 0 rgb(36, 36, 36);
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        background-color:  #ffffffc9;
        
        
    }

  

    .utensils
    {
        margin-top: 10px;
        padding: 10px;        
        margin-right: 15px;       
        text-align: center;           
        box-shadow: 0 0px 6px 0 rgb(36, 36, 36);
        transition: 0.3s;
        width: 100%;        
        border-radius: 10px;
        background-color:  #ffffffc9;
    }


  .utensils  .he {
       
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;      
        font-weight: bold;
        color: rgba(8, 8, 8, 0.863);
    }

   /* .utensils:hover {
        box-shadow: 0 6px 9px 0 rgb(61, 60, 60);
    }*/
   
    .tableheader
    {
        background-color: #252525;
       color: rgb(224, 233, 146);
    }

    table {
        margin-top: 5px;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
        
      }
      
      th, td {
        text-align: center;
        padding: 8px;
      }
      
      tr:nth-child(even){background-color: #dfdfdf}
    
    .card img {
        border-radius: 10px;
        margin: auto;
        
    }
    
    .card:hover {
        box-shadow: 0 6px 9px 0 rgb(23, 24, 26);
    }
    
    .cardcontainer {
        height: 40px;
        margin-top: 5px;
        padding: 5px;
    }
    
    
#footer
{      
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color:   #033c57;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
    border-radius: 8px;

}
    